@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Press Start 2P', sans-serif;
}

a{
  text-decoration: none;
  color: #fff;
}

body{
  background-color: #1fa0d3;
  color: #fff;
}